@model PagedList.IPagedList<BikeStoreSystem.Models.order_items>

@using PagedList.Mvc;
@using PagedList;




<h2>Orders</h2>
<div class="row">
    <div class="col-md-3">
        <input type="text" name="Sname" class="form-control" placeholder="yyyy/mm/dd" />
    </div>
    <div class="col-md-7">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>





@foreach (var item in Model.Select(s => s.order_id).Distinct())
{

    var time = DateTime.Today;
    foreach (var b in Model)
    {
        if (b.order.order_id == item)
        {
            time = b.order.order_date.Date;
            break;
        }
    }
    <div>
        <h3>Order @item- @time</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>List Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var i in Model.Where(i => i.order_id == item))
                {

                    var total = i.quantity * i.list_price;

                    <tr>
                        <td>@i.product.product_name.</td>
                        <td>@i.list_price</td>
                        <td>@i.quantity</td>
                        <td>@total</td>
                    </tr>

                }
            </tbody>

        </table>

        <br />
        <br>
    </div>
}

@Html.PagedListPager(Model, i => Url.Action("Index", "orders", new { i, Name = Request.QueryString["Name"] }))

@section scripts{
    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
    </script>
}